@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Roboto&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1.5rem 0 3rem;
}

h1, a, .btn-link {
    /*color: hsla(136, 55%, 29.6%, 1);*/
    color: hsla(120, 55%, 29.6%, 1);
    /*color: #198754;*/
}

h1 img {
    height: 1em;
}

body > * {
    margin: 1.5rem 1.5rem 0;
    /*padding: 1.5rem;*/
}

.card {
    border-radius: 0.75rem;
}

.card-header {
    text-align: center;
    border-bottom: 0;
}

.card-body {
    padding: 1.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.text_card {
    max-width: 40em;
    align-items: initial;
}

.card-body > * {
    margin: 0 0 1rem;
}

.card-body > *:last-child {
    margin: 0;
}

#search_bar {
    margin: 0;
}

h1 {
    font-family: 'Exo', sans-serif;
    text-align: center;
    margin: 1rem 0 1rem !important;
}

h1:hover > a {
    color: rgb(34, 117, 56);
}

h1 + p {
    margin-top: 1rem !important;
}

.bigger {
    font-size: 1.15rem;
}

input[type='radio'] {
    accent-color: hsla(120, 55%, 29.6%, 1);
}

#results_space {
    display: flex;
    gap: .5rem;
}

#results_space > button {
    /*
    box-sizing: content-box;
    height: 1rem;
    width: 1rem;*/
}

.form_data {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0;
}

#results_space > .recently_accepted {
    margin-left: 1rem;
}

/*This is from when I posted the college name and the percent
//<hr> is the first child
.form_data > p:nth-child(2) {
    margin: 1.5rem 0 .75rem;
}

.form_data > p:nth-child(3){
    margin: 0;
}

hr {
    width: 50%;
}
*/

.table {
    width: initial;
    font-size: 1.15rem;
    margin: 0;
}

th {
    text-align: center;
}

tr {
    border-bottom-width: 1px;
}

td {
    border-bottom-width: 0 !important;
}

.info_td {
    display: flex;
    gap: .5rem;
}
