{% extends 'layout.html' %}
{% block content %}
    <div class='card text_card card-body'>
        <p>Hi! I'm Franca Ellerman and I'm in the class of 2023 at Lexington High School, MA.</p>
        <p>To make the LHS Admissions Calculator, I used scatterplot data of anonymized LHS students you can find by logging into Naviance with an LHS account. It models, on average, how many people with your GPA and SAT will be accepted to each college, not your personal chances of getting in (correlation ≠ causation). The Naviance data is also opt-in so there could be bias in the results. I also do not distinguish between normal decision, Early Action, or Early Decision because of inconsistencies in Naviance's data.</p>
        <p>Some colleges are listed as not having accepted any LHS students since 2018. Many are in this category because of an effect called yield protection. So many people at LHS get into extremely selective schools like those in the Ivy League, they chose Harvard over slightly less selective schools. This makes those slightly less elite schools worried that if they admit someone from LHS they won't go, so as a result they've stopped admitting LHS students.</p>
        <p>I hope you use this tool to get a snapshot sense of your chances at different schools instead of eyeballing it in the Naviance scatterplots! Please contact me in the form above with feedback on the site or any questions you have.</p>
    </div>
{% endblock %}
